In [4]:
# 리스트
    # 리스트와 리스트로 할 수 있는 일. 인덱싱, 슬라이싱 및 변형 포함

In [5]:
# 리스트
"""
Python의 리스트는 정렬된 값 시퀀스를 나타냅니다.
다음은 생성 방법의 예입니다.
"""

primes = [2, 3, 5, 7]

In [6]:
"""
다른 유형의 항목을 리스트에 넣을 수 있습니다.
"""

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [7]:
"""
리스트의 리스트를 만들 수도 있습니다.
"""

hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [8]:
"""
리스트에는 다양한 유형의 변수가 혼합되어 포함될 수 있습니다.
"""

my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

In [9]:
# 인덱싱
"""
대괄호를 사용하여 개별 목록 요소에 액세스할 수 있습니다.

어느 행성이 태양에 가장 가깝습니까?
Python은 0부터 시작하는 인덱싱을 사용하므로 첫 번째 요소의 인덱스는 0입니다.
"""

planets[0]

'Mercury'

In [10]:
"""
다음으로 가장 가까운 행성은 무엇입니까?
"""

planets[1]

'Venus'

In [11]:
"""
어느 행성이 태양에서 가장 멀리 떨어져 있습니까?
리스트 끝에 있는 요소는 -1부터 시작하는 음수로 액세스할 수 있습니다.
"""

planets[-1]

'Neptune'

In [12]:
planets[-2]

'Uranus'

In [13]:
# 슬라이싱
"""
처음 세 행성은 무엇입니까?
슬라이싱을 사용하여 이 질문에 답할 수 있습니다.
"""

planets[0:3]

['Mercury', 'Venus', 'Earth']

In [14]:
"""
planets[0:3]은 인덱스 0에서 시작하여 인덱스 3까지 계속되지만 행성의 요소를 요청하는 방식입니다.
"""
""""""

''

In [15]:
"""
시작 및 종료 인덱스는 모두 선택 사항입니다.
시작 인덱스를 생략하면 0으로 간주됩니다.
따라서 위의 식을 다음과 같이 다시 작성할 수 있습니다.
"""

planets[:3]

['Mercury', 'Venus', 'Earth']

In [16]:
"""
끝 인덱스를 생략하면 리스트의 길이로 간주됩니다.
"""

planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [17]:
"""
즉, 위의 표현은 "인덱스 3 이후의 모든 행성을 나에게 줘"를 의미합니다.
"""
""""""

''

In [18]:
"""
슬라이싱할 때 음수 인덱스를 사용할 수도 있습니다.
"""

# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [19]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [20]:
# 리스트 변경
"""
리스트는 "변경 가능"합니다. 즉, "제자리에서" 수정할 수 있습니다.

리스트를 수정하는 한 가지 방법은 인덱스 또는 슬라이스 식에 할당하는 것입니다.

예를 들어 Mars의 이름을 바꾸고 싶다고 가정해 보겠습니다.
"""

planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [21]:
"""
흠, 꽤 한 입입니다.
처음 3개 행성의 이름을 줄여서 보상해 봅시다.
"""

planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [22]:
# 리스트 기능
"""
Python에는 리스트 작업에 유용한 몇 가지 기능이 있습니다.

len은 리스트의 길이를 제공합니다.
"""

# How many planets are there?
len(planets)

8

In [23]:
"""
sorted는 리스트의 정렬된 버전을 반환합니다.
"""

# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [24]:
"""
sum은 예상할 수 있는 작업을 수행합니다.
"""

primes = [2, 3, 5, 7]
sum(primes)

17

In [25]:
"""
우리는 이전에 min 및 max를 사용하여 여러 인수의 최소값 또는 최대값을 얻었습니다.
그러나 단일 리스트 인수를 전달할 수도 있습니다.
"""

max(primes)

7

In [26]:
# 막간: 객체
"""
나는 지금까지 '객체'라는 용어를 많이 사용했습니다.
Python의 모든 것이 객체라는 것을 읽었을 수도 있습니다.
그게 무슨 뜻이야?

요컨대, 객체는 어떤 것을 가지고 다닙니다.
Python의 점 구문을 사용하여 해당 항목에 액세스합니다.

예를 들어 Python의 숫자는 허수 부분을 나타내는 imag라는 관련 변수를 전달합니다.
(매우 이상한 수학을 수행하지 않는 한 이것을 사용할 필요가 없을 것입니다.)
"""

x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [27]:
"""
개체가 가지고 다니는 것에는 기능도 포함될 수 있습니다.
객체에 연결된 함수를 메서드라고 합니다.
(imag와 같이 객체에 연결된 비기능 항목을 속성이라고 합니다.)

예를 들어 숫자에는 bit_length라는 메서드가 있습니다.
다시 점 구문을 사용하여 액세스합니다.
"""

x.bit_length

In [28]:
"""
실제로 호출하려면 괄호를 추가합니다.
"""

x.bit_length()

4

In [29]:
"""
    여담: 연습을 해본 적이 있다면 실제로는 이미 메서드를 호출한 것입니다.
    연습장에서 q1, q2, q3 등은 모두 check, hint, solution이라는 메소드를 가진 객체입니다.

도움말 함수에 함수를 전달할 수 있는 것과 같은 방식으로(예: help(max)) 메서드를 전달할 수도 있습니다.
"""

help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [30]:
"""
위의 예는 완전히 모호했습니다.
지금까지 살펴본 개체 유형(숫자, 함수, 부울) 중 어느 것도 사용할 가능성이 있는 특성이나 메서드가 없습니다.

그러나 리스트에는 항상 사용하게 될 몇 가지 방법이 있습니다.
"""
""""""

''

In [31]:
# 리스트 메서드
"""
list.append는 끝에 항목을 추가하여 리스트를 수정합니다.
"""

# Pluto is a planet darn it!
planets.append('Pluto')

In [32]:
"""
위의 셀에 출력이 없는 이유는 무엇입니까?
help(planets.append)를 호출하여 문서를 확인합시다.

참고: 추가는 행성뿐만 아니라 리스트 유형의 모든 개체에서 수행되는 메서드이므로 help(list.append)를 호출할 수도 있습니다.
그러나 help(append)를 호출하려고 하면 Python은 "append"라는 변수가 없다고 불평합니다.
"append" 이름은 리스트 내에만 존재합니다.
max 또는 len과 같은 내장 함수와 같은 독립 실행형 이름으로 존재하지 않습니다.
"""

help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [33]:
"""
-> None 부분은 list.append가 아무 것도 반환하지 않는다는 것을 알려줍니다.
그러나 행성의 값을 확인하면 메서드 호출이 행성의 값을 수정했음을 알 수 있습니다.
"""

planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [34]:
"""
list.pop은 리스트의 마지막 요소를 제거하고 반환합니다.
"""

planets.pop()

'Pluto'

In [35]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [36]:
# 리스트 검색
"""
지구는 행성 순서대로 어디에 속합니까?
list.index 메서드를 사용하여 인덱스를 가져올 수 있습니다.
"""

planets.index('Earth')

2

In [37]:
"""
세 번째입니다(즉, 인덱스 2 - 0 인덱싱!).

명왕성은 어떤 지수에서 발생합니까?
"""

planets.index('Pluto')

ValueError: ignored

In [38]:
"""
아 맞다...

이와 같은 불쾌한 놀라움을 피하기 위해 in 연산자를 사용하여 리스트에 특정 값이 포함되어 있는지 확인할 수 있습니다.
"""

# Is Earth a planet?
"Earth" in planets

True

In [39]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

In [40]:
"""
우리가 다루지 않은 흥미로운 리스트 방법이 몇 가지 더 있습니다.
특정 객체에 연결된 모든 메서드와 속성에 대해 알고 싶다면 객체 자체에서 help()를 호출할 수 있습니다.
예를 들어 help(planets) 는 모든 리스트 메서드에 대해 알려줍니다.
"""

help(planets)

"""
전체 도움말 페이지를 보려면 "출력" 버튼을 클릭하십시오.
목록에는 __eq__ 및 __iadd__와 같이 이상하게 보이는 이름을 가진 메서드가 많이 있습니다.
지금은 이것들에 대해 너무 걱정하지 마십시오.
(아마도 이러한 메서드를 직접 호출하지 않을 것입니다. 하지만 인덱싱 또는 비교 연산자와 같은 구문을 사용할 때 뒤에서 호출됩니다.)
가장 흥미로운 메서드는 목록의 맨 아래에 있습니다(append, clear, copy 등). .
"""
""""""

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

''

In [41]:
# 튜플
"""
튜플은 리스트와 거의 똑같습니다.
단지 두 가지 면에서 다릅니다.

1: 생성 구문은 대괄호 대신 괄호를 사용합니다.
"""

t = (1, 2, 3)

In [42]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [43]:
"""
2: 수정할 수 없습니다(변경할 수 없음).
"""

t[0] = 100

TypeError: ignored

In [44]:
"""
튜플은 여러 반환 값이 있는 함수에 자주 사용됩니다.

예를 들어 float 객체의 as_integer_ratio() 메서드는 분자와 분모를 튜플 형식으로 반환합니다.
"""

x = 0.125
x.as_integer_ratio()

(1, 8)

In [45]:
"""
이러한 여러 반환 값은 다음과 같이 개별적으로 할당할 수 있습니다.
"""

numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [46]:
"""
마지막으로 두 변수를 교환하기 위한 고전적인 Stupid Python Trick™에 대한 통찰력을 얻었습니다!
"""

a = 1
b = 0
a, b = b, a
print(a, b)

0 1